* {
    justify-content: center;
    font-family: lato;
}
body {
    background-color: #212121;
}
#game-container {
  background: url("https://wallpaperaccess.com/full/2000200.jpg") 50% no-repeat;
  background-size: cover;
    height: 75vh;
    background-color: #212121;
    text-align: center;
    justify-content: center;
    overflow:hidden;
    /* position:unset; */
}

.menu-bar, .title-bar {
    background-color: #212121;
    color: #fefefe;
}
/* Hero image */
.hero-section {
    background: url("https://wallpaperaccess.com/full/2000200.jpg") 50% no-repeat;
    background-size: cover;
    height: 75vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
li {
    max-width: 500px;
    margin: 0px;
}

.input-label-text {
    color:#c6d1d8;
}
/* added missing } */
/* Hero text */
.hero-section .hero-section-text {
    /* margin-top: 22.5em; */
    margin-top: 40vh;
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
}
/* Hero image start button */
#start-button {
    margin-top: 30px;
    width: 100px;
    font-size: 20px;
    background-color: #1db954;
    color: black;
    border-radius: 5px;
}

/* The team */
#contributors {
    display: flex;
    color: #fefefe;
}
#container {
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Pictures */
.thumbnail {
    display: flex;
    float: left;
    max-width: 75px;
    min-width: 75px;
    border-radius: 5px 20px 5px;
    text-align: left;
    margin-right: 10px;
}
/* Names */
.name-link {
    display: block;
    margin-top: 15px;
    padding-left: 10px;
    font-size: 16px;
    color: #fefefe;
    text-align: left;
}
/* For responsiveness */
@media screen and (max-height: 480px) {
    .hero-section {
        height: 70vh;
    }
    .hero-section .hero-section-text {
        margin-top: 35vh;
    }
    #start-button {
        margin-top: 0px;
        width: 100px;
        font-size: 20px;
        background-color: #1db954;
        border-radius: 5px;
    }
}


/* Walk of Fame */
.walk-of-fame-background {
    background: url("https://images-na.ssl-images-amazon.com/images/I/71Xr22vcpWL._AC_SL1000_.jpg") 100% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    /* bottom: 0px; */
    justify-content: center;
    background-position: center;
}

@media screen and (max-width: 1500px) {

    .walk-of-fame-background {
        background: url("https://images-na.ssl-images-amazon.com/images/I/71Xr22vcpWL._AC_SL1000_.jpg") 100% no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        justify-content: center;
        background-position: center;
    }
}

@media screen and (max-width: 640px) {

    footer {
        position:relative;
    }
}

.title {
    color:rgb(235, 198, 130);
    font-size: 50px;
    /* margin: 25px; */
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px 1px 2px #0a0a0a;
}

.grid-style {
    justify-content: center;
}
.flex-container {
    margin-top: 40px;
}
.card-container {
    position: relative;
}
.star-card {
    width: 300px;
    border: 2px solid silver;
}
.star-card-text {
    font-family: 'Overpass', sans-serif;
    color:rgb(235, 198, 130);
    position: absolute;
    text-align: center;
    top: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3em;
    text-shadow: 1px 1px 2px #0a0a0a;
    /* background-color: black; */
    white-space: nowrap;
}

/* Modal/Reveal/Popup */
#topScoreModal {
    background-color: #212121;
    color: #fefefe;
    width: 400px;
    text-align: center;
}

/* nav bar css */

.topbar-responsive {
    background: #212121;
    padding: 0rem 0rem;
  }
  
  .topbar-responsive .topbar-responsive-logo {
    color: #fefefe;
    vertical-align: middle;
  }
  
  .logo-main {
      margin: 20px;
  }
  .topbar-responsive .my-menu {
    background: #212121;
    justify-content: center;
  }
  
  .topbar-responsive .menu li:last-of-type {
    margin-right: 20px;
  }
  
  .topbar-responsive .menu a {
    color: #fefefe;
    transition: color 0.15s ease-in;
  }
  
  .topbar-responsive .menu a:hover {
    color: #c6d1d8;
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu a {
      padding: 0rem 0;
    }
  }
  
  .topbar-responsive .menu .topbar-responsive-button {
    color: #fefefe;
    border-color: #fefefe;
    border-radius: 5000px;
    transition: color 0.15s ease-in, border-color 0.15s ease-in;
  }
  
  .topbar-responsive .menu .topbar-responsive-button:hover {
    color: #c6d1d8;
    border-color: #c6d1d8;
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu .topbar-responsive-button {
      width: 100%;
      margin: 0.875rem, 0;
    }
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive {
      padding: 0.00rem;
    }
    .topbar-responsive .top-bar-title {
      position: relative;
      width: 100%;
    }
    .topbar-responsive .top-bar-title span {
      position: absolute;
      right: 0;
      border: 1px solid #fefefe;
      border-radius: 5px;
      padding: 0.25rem 0.45rem;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
    }
    .topbar-responsive .top-bar-title span .menu-icon {
      margin-bottom: 4px;
    }
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  
  @keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive-links {
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
      width: 100%;
      -webkit-animation: fadeIn 1s ease-in;
              animation: fadeIn 1s ease-in;
    }
  }
  
/* sticky nav css */

.sticky {
    position: -webkit-sticky;
    position: sticky;
   top: 0;
   z-index: 1;
  }
/* clue card css */
 

.my-card {
  border-radius: 10px;
  border: 0px;
}

  .my-card-divider {
    background-color: #7dd79d;
    color: #212121;
    font-weight: bold;
  }

  .my-cell {
    margin: 15px 15px 0px 15px;
    opacity: 0.95;
    animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
  position: static;
  z-index: -1;
  }

  #cardContainer {
    position: fixed;
    overflow-y: scroll;
    top: 175px;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: -1; */
  }
  @media only screen and (max-width: 600px) {
    #cardContainer {
      top: 175px;
    }
  }
  
  .my-card-section {
    background-color: #b3b3b3;
    font-weight: bold;
  }


#next-clue, #give-up {
  background-color: #1db954;
  color: #212121;
  font-weight: bold;
  margin-right: 0px;
  margin-bottom: 10px;
  border: #121212;
}

/* game timer font */

#game-timer {
  font-family: Orbitron;
  margin-left: 40px;
}


/* movie input form  */

.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  font-size: 0.8rem;
  background-color: #1db954;
  color: #0a0a0a; 
  font-weight: bold;
}

.centered {
  margin: 5px;
  bottom: 50%;
  top: 50%;
}

.my-button {
  margin-top: 8px;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #1db954;
  /* margin-left: 35px; */
}

/* centering nav bar stuff */

.controller-box {
  justify-content:center;
}


/* card fade in classes */


@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:0.95;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:0.95;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:0.95;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:0.95;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:0.95;
}} 

#game-body {
  background-color: #212121;
  color: #fefefe;
}

#hsButton {
  border-radius: 5000px 0 0 5000px;
  background-color: #1db954;
}

#retryButton {
  border-radius: 0 5000px 5000px 0;
  background-color: #1db954;
}

.my-table {
  display: table;
  margin: 0 auto;
}

ul.my-menu li {
  display:block;
}

a {
  padding: 10px;
}

.game-link {
  color: white;
  font-weight: bolder;
}

.game-link:hover {
  color: #1db954;
}

  